.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;

  height: 100%;
  width: 100%;
  z-index: 7;
  margin-top: 5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(245, 184, 204) 0%,
    rgba(252, 252, 252, 1) 100%
  );
}

.homePage {
  text-align: center;
  margin-top: -10rem;
}

.phrase-1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: grey;
  text-align: center;
  padding: 0% 20%;
}

.phrase-2 {
  font-size: 20px;
  text-align: center;
  padding: 0% 20%;
  margin-top: -2rem;
  color: rgb(73, 70, 70);
}

.btnSection {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.buttonComponent {
  width: 16rem;
}

.generalLink {
  text-decoration: none;
  color: var(--secondary-color);
}

.btnHomePage {
  /* margin: 0rem 7rem; */
  padding: 15px 30px;
  font-size: larger;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btnHomePage:hover {
  letter-spacing: 0.2rem;
}

.btnGetStarted {
  background-color: var(--primary-color);
}

.btnGetStarted:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 75, 130) 0%,
    rgba(252, 252, 252, 1) 100%
  );

  border: 2px solid var(--primary-color);
}

.btnGitHub {
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 213, 227) 0%,
    rgba(252, 252, 252, 1) 100%
  );
}

.btnGitHub:hover {
  background-color: var(--primary-color);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 75, 130) 0%,
    rgba(252, 252, 252, 1) 100%
  );

  border: 2px solid var(--primary-color);
}
